:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: oblique 0deg 10deg;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: var(--grey-900);
    color: var(--white);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.profile-card {
    background-color: var(--grey-800);
    border-radius: 12px;
    padding: 2rem;
    text-align: center;
    max-width: 384px;
    width: 100%;
    margin-bottom: 0;
}

.profile-img {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.profile-name {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.profile-location {
    color: var(--green);
    font-weight: 600;
    margin-bottom: 1rem;
}

.profile-bio {
    font-size: 0.875rem;
    margin-bottom: 1rem;
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.social-link {
    background-color: var(--grey-700);
    color: var(--white);
    text-decoration: none;
    padding: 0.875rem;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.social-link:hover {
    background-color: var(--green);
    color: var(--grey-900);
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

h1 {
    font-weight: 700;
}

p{
    font-size: 14px;
}